* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: gainsboro;
}
h1{
    margin-left: 6em;
}
h3{
    margin-top: 2em;
    margin-left: 6em;
}
h4{
    margin-left: 6em;
}
p{
    margin-left: 4em;
    padding: 0.5em;
}
ul {
    position: absolute;
   padding-top: 2%;
    text-align: left;  
    background: gainsboro;
    list-style: none;
    text-decoration-style: none;
    padding-bottom: 100%;
}

li {
    padding: 1.5em; 
}
li a {
    text-decoration: none;
    display: inline-block;
    color: black;
    transition-duration: 40ms;
}
img{
    margin-left: 7em;
    margin-top: 3em;
    margin-bottom: 1em;
}

a:hover {
    color: rgb(69, 102, 145);
    transform: scale(1.1);
}

#content{
    position: absolute;
    top: 3em;
    left: 220px;
}